
.root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}
h1 {
  font-size: 2.5em; /* 40px/16=2.5em */
  font-family: 'Kanit', sans-serif;
}
input {
  border: "1px solid #a7a7a7"

}
h2 {
  font-size: 1.875em; /* 30px/16=1.875em */
  font-family: 'Kanit', sans-serif;
}
h5 {
  font-family: 'Kanit', sans-serif;
}

p {
  font-size: 1.2em; /* 14px/16=0.875em */
  font-family: 'Kanit', sans-serif;
}
.custom-font {
  font-family: 'Kanit', sans-serif; /* Replace 'Your Custom Font' with the actual font name or font stack */
}
body{
  font-family: 'Kanit', sans-serif;
}
.card-heading{
  font-family: 'Kanit', sans-serif;
}
.card-container {
  display: flex;
  justify-content: center; /* ให้การ์ดมาอยู่ตรงกลาง */
  gap: 20px; /* ระยะห่างระหว่างการ์ด (ตามความต้องการ) */
}
.card-menu {
  width: 250px; 
  height: 300px; 
}
.card {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  
  width: 700px; 
  height: 300px;
}

/* .card-overview {
  width: 250px; 
  height: 300px; 
} */
.card-info {
  width: 1000px; /* กำหนดความกว้างของการ์ด (ความกว้างแนวนอน) */
  height: auto; /* ปรับความสูงอัตโนมัติเพื่อให้เนื้อหาภายในมีขนาดเหมาะสม */
  border: 1px solid #ccc; /* กำหนดขอบกรอบ 2px สีเทา */
  padding: 20px; /* ระยะห่างของเนื้อหาจากขอบ */
  margin: 0 auto; /* จัดการตำแหน่งตรงกลาง (แนวนอน) */
  font-family: 'Kanit', sans-serif;
}
.card-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.button-container {
  text-align: right;
}

.list-group{
  width: 1000px; /* กำหนดความกว้างของการ์ด (ความกว้างแนวนอน) */
  height: auto; /* ปรับความสูงอัตโนมัติเพื่อให้เนื้อหาภายในมีขนาดเหมาะสม */
}
.hidden {
  display: none;
}
.card-footer {
  text-align: Right; /* จัดปุ่มให้อยู่ตรงกลางของ footer */
  padding: 10px; /* ระยะห่างของ footer */
  width: 900px; /* กำหนดความกว้างของการ์ด (ความกว้างแนวนอน) */
  height: auto; /* ปรับความสูงอัตโนมัติเพื่อให้เนื้อหาภายในมีขนาดเหมาะสม */
}

.btn-primary {
  font-size: 18px; /* ขนาดตัวอักษรของปุ่ม */
  padding: 10px 20px; /* ขนาด Padding ของปุ่ม (บน-ล่าง, ซ้าย-ขวา) */
}

.custom-select {
  font-family: 'Kanit', sans-serif;
  /* Additional styles can be added here */
  width: 350px;
  height: 35px;

}

.custom-body {
  font-family: 'Kanit', sans-serif;
  /* Additional styles can be added here */

}

/* .bi-search{
  color: black;
} */

.Medical_History .nested-box{
  padding: 20px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: 10px; */
  /* margin-left: 10px; */
  /* width: 500px; */
  margin-top: 8px;
  height: 300px;
  background-color: rgb(230, 245, 192);
}

.Medical_History {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
}

.Medical_History .box {
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid rgb(184, 215, 241); */
  border: 2px solid rgb(192, 245, 215);
  background-color: rgb(192, 245, 215);
}


.Health_Checkup .nested-box{
  padding: 20px;
  margin-top: 8px;
  height: 700px;
  background-color: #feea77;
}

.Health_Checkup {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
}

.Health_Checkup .box {
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid rgb(184, 215, 241); */
  border: 2px solid rgb(245, 215, 251);
  background-color: rgb(245, 215, 251);
}

.Health_Checkup .box1 {
  grid-column: span 1;
  grid-row: span 2;
}



/* .rhombus {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  background-color: #3498db;
  position: relative;
  margin: 50px;
}

.rhombus {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  background-color: #e74c3c;
  position: relative;
  margin: 50px;
} */
.pig-nose {
  width: 100px;
  height: 50px;
  background-color: #e74c3c;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.trapezoid {
  width: 100px;
  height: 50px;
  background-color: #3498db;
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}




/* สามเหลี่ยม */
.triangle {
  width: 0;
  height: 0;
  border-left: 500px solid #e74c3c;
  border-top: 300px solid transparent;
  border-bottom: 300px solid transparent;
}

/* ก้อนเมฆ */
/* .cloud {
  width: 100px;
  height: 60px;
  background-color: #9ac7d2;
  border-radius: 50px;
  position: relative;
}

.cloud:before,
.cloud:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #9ac7d2;
  border-radius: 50%;
}

.cloud:before {
  top: -20px;
  left: 20px;
}

.cloud:after {
  top: -20px;
  right: 20px;
} */

.cloud {
  position: relative;
  width: 350px;
  height: 180px;
  background-color: #9ac7d2;
  border-radius: 175px;
  text-align: center;
  line-height: 100px;
}

.cloud:before,
.cloud:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #9ac7d2;
  border-radius: 50%;
  z-index: -1; /* กำหนดให้อยู่ต่ำกว่า .cloud */
}

.cloud:before {
  top: -80px;
  left: 80px;
}

.cloud:after {
  top: -80px;
  right: 80px;
}

.Result_health_data {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-auto-flow: dense;
}

/* .Result_health_data > .cloud {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .Result_health_data > .cloud {
  align-self: center;
  justify-self: center;
} */

/* .Result_health_data > .cloud {
  align-self: center;
  justify-self: center;
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  display: flex;
} */

/* .Result_health_data > .cloud {
  position: absolute;
  justify-self: center;} */

.Result_health_data .box {
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid rgb(184, 215, 241); */
  border: 2px solid rgb(245, 215, 251);
  background-color: rgb(245, 215, 251);
}

.Result_health_data .box1 {
  grid-column: span 1;
  grid-row: span 1;
}

.Result_health_data .box2 {
  grid-column: span 1;
  grid-row: span 1;
}

.Result_health_data .box3 {
  grid-column: span 3;
  grid-row: span 1;
}

.Result_health_data .box4 {
  grid-column: span 1;
  grid-row: span 1;
}

/* .arrow-right {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent; 
  border-bottom: 10px solid transparent; 
  border-left: 15px solid #000;
  margin-right: 5px;
}


.arrow-right::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px; 
  height: 2cqh;
  background-color: #000;
} */

.arrow-right {
  position: absolute;
  top: 50%;
  /* right: 1cap;  */
  /* transform: translateY(-50%); */
  width: 35px; /* ปรับความยาวของหัวเส้น */
  height: 4px; /* ปรับความหนาของหัวเส้น */
  background-color: #000; /* ปรับสีของหัวเส้น */
 }

 .arrow-right::after {
  content: ' '; /* ใส่เนื้อหาอะไรก็ได้ที่ไม่ให้เป็นศูนย์ */
  position: absolute;
  top: -8px; /* ปรับตำแหน่งไปด้านบน */
  right: -10px; /* ปรับตำแหน่งไปทางขวา */
  width: 0;
  height: 0;
  border-top: 10px solid transparent; /* ปรับความสูงตามต้องการ */
  border-bottom: 10px solid transparent; /* ปรับความสูงตามต้องการ */
  border-left: 15px solid #000; /* ปรับความยาวตามต้องการ */
  /* margin-right: 5px;  */
}





.nested-box-Not-Vacinated{
  padding: 20px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: 10px; */
  /* margin-left: 10px; */
  /* width: 500px; */
  margin-top: 8px;
  height: 300px;
  border: 2px solid rgb(238, 182, 195);
  background-color: rgb(228, 217, 220);
}
.nested-box-Vacinated{
  padding: 20px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: 10px; */
  /* margin-left: 10px; */
  /* width: 500px; */
  margin-top: 8px;
  height: 300px;
  border: 2px solid rgb(151, 229, 169);
  background-color: rgb(208, 249, 213);
}
.Dashboard-vac {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
}

.Dashboard-vac .box {
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid rgb(184, 215, 241); */
  border: 2px solid rgb(235, 241, 238);
  background-color: rgb(235, 241, 238);
}

.Growth-nutrition {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(400px, auto);
  grid-auto-flow: dense;
}

.Growth-nutrition .box {
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid rgb(184, 215, 241); */
  border: 2px solid rgb(235, 241, 238);
  background-color: rgb(235, 241, 238);
}

.Growth-nutrition .nested-box{
  padding: 20px;
  margin-top: 8px;
  height: 300px;
  /* border: 2px solid rgb(21, 179, 100); */
  background-color: rgb(204, 240, 188);
}

.Growth-nutrition .graph{
  padding: 20px;
  margin-top: 8px;
  height: 300px;
  /* border: 2px solid rgb(187, 38, 195); */
  background-color: rgb(186, 226, 255);
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
 }

 @media (max-width: 100%) {
  .card-menu {
    max-width: 100%;
  }
  .card-img-top {
    height: 200px;
  }
}

.h-screen {
  height: auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-left {
  justify-content: flex-start;
}

.justify-right {
  justify-content: flex-end;
}

.pr-3 {
  padding-right: 1rem;
}

.w-1_3 {
  width: 33.333%;
}

.dropdown {
  position: relative;
  
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: auto;
  line-height: 1.5;
  padding: 0rem 1rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
  
}

.custom-select:focus {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select option {
  background-color: white;
  color: #333;
  margin-bottom: 1px;
}

@media (max-width: 100%) {
  .h-screen {
    height: auto;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: column;
  }

  .w-1_3 {
    width: 100%;
  }

  .pr-3 {
    padding-right: 0;
  }
}

@media screen and (max-width: 100%) {
  /* // adjust maxWidth to 100% for screens smaller than 768px */
  .align-items-center {
      max-width: 100%;
  }

}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive > .table {
  margin-bottom: 0;
}

.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
  white-space: nowrap;
}

/* @media (max-width: 767px) {
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    display: block;
    width: 100%;
    text-align: right;
  }

  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    border-top: none;
  }

  .table-responsive > .table > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  .table-responsive > .table > tbody > tr:nth-child(even) {
    background-color: #ffffff;
  }
} */


.google_btn {
  width: 230px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 20px 0;
  color: #2c444e;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.google_btn > img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.google_btn > span{
  margin-left: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}


.table-wrapper {
  width: 100%;
}

.table {
  /* display: block; */
  overflow: hidden; 
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  width: 100em; 
  max-width: 100%;
  margin: auto;
  table-layout: auto;
  overflow-x: auto;
}

.table thead {
  /* background-color: #ccc; */
  color: #222;
}

.table th,
.table td {
  padding: 0.8rem;
}

.table td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr:hover {
  background-color: #eee;
}

.expand {
  width: 100%;
}

.label {
  /* border-radius: 3px; */
  padding: 0.3rem;
  color: white;
}

.label-draft {
  background-color: #777;
}

.label-live {
  background-color: #42a942;
}

.label-error {
  background-color: #d9534f;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions svg {
  cursor: pointer;
}

.delete-btn {
  color: #e10d05;
}